{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Social Network App</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Quicksand"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/main.css' %}"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/navbar.css' %}"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/account.css' %}"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/home.css' %}"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/profile.css' %}"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/chatroom.css' %}"
    >
  </head>

  <body>
    {% include 'sna/navbar.html' %} 
    {% block content %} 
    {% endblock %}
  </body>
</html>
